body {
    background-image: #white;
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
  
  }
  
 
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  



  
  /* Create two unequal columns that floats next to each other */
  
  .row{
    display:flex;
    flex-wrap: wrap;
    row-gap:10px;
    column-gap: 2em;
  }
  /* Left column */

  .leftcolumn {
    flex: 1;
    width: 70%;
    height:100%
  }
  
  /* Right column */
  .rightcolumn {
    flex: .5;
    width: 25%;
    padding-left: 40px;
  }
  .me{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Blog Page*/
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .popular-post {
    background-color: #aaa;
    padding: 20px;
    margin-top: 20px;
  }
  .popular-post a{
    color:#fc0fc0;
    text-decoration:none;
  }
  .popular-post a:hover{
    color:#fff
  }

span {
  font-size: 12px;
  font-weight: italic;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 10px;
  align-items:right;
}

.follow-me{
  list-style-type:none;
  display:inline;
  padding-left: 2em;
  margin:2px;

}
.follow-me a{

  color:black;
}
 .follow-me a:hover{
   color:#fc0fc0;
 }
  
h2{
  font-size:40px;
}

.skincare{
  max-width:500px;
  max-height:400px;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  }
  @media all and (max-width: 768px){
    .content-section{
      flex-direction:column;
    }
  }
  
  /* Navigation Bar */
  .navbar {
    position: -webkit-sticky; /* Safari */
    position:sticky;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color: #3f3f3f;
    color:white;
    align-items:center;
    width:100vw;
    height:auto;
  
  }
  .nav-list{
    list-style-type: none;
  }
  .list-item{
    
    padding: 20px 10px;
    font-size:15x;
  }
  .navbar a{
    color:white;
    text-decoration:none;
  }
  .navbar a:hover{
    color:#fc0fc0;
  }
  .primary-icon{
    height:100px;
  }
  
  .menu{
    display: none;
  }
  .menu-line{
    width:20px;
    height:3px;
    background-color: white;
    margin-bottom:4px;
  }

  /* Mobile Nav Menu*/
  @media all and (max-width: 768px) {
    .navbar {
      flex-direction:column;
      position:relative;
    }
    .navbar .container-icon{
      width:100%
    
    }
    .menu{
      display:block;
      position:absolute;
      right:15px;
      top:15px;
    }
    .nav-list {
  
      list-style-type: none;
      width: 100%;
      text-align:center;
      padding:0;
    }
  }
  /*Mobile Nav Menu*/
    
  /* Footer Style */
  footer{
    
    text-align:center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
    background: #3f3f3f;
    height: auto;
    width: 100vw;
    padding:0;
    color: #fff;
    margin-top: auto;
    
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-list {
  display:inline-block;
  list-style-type: none;
  width: 100%;
  padding:0;


}

.footer-list a{
  color:white;
  text-decoration:none;
  display:inline-block;
}
.footer-list a:hover{
  color:#fc0fc0;
}